@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap');


body{
    font-family: 'IBM Plex Sans KR', sans-serif;
    text-align: center;
    
}

img {
    max-width: 100%;
    height: auto;
  }


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
} 