@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap');


body{
    font-family: 'IBM Plex Sans KR', sans-serif;
    text-align: center;
    
}

img {
    max-width: 100%;
    height: auto;
  }

section {
  margin-bottom: 2cm;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.button {
  width: 25px;
  height: 25px;
  margin: 5px;
}

.parents {

  font-size: 17px;
}

.img_face {
  width: 60px;
  height: 60px;
  margin: 5px;
}

.bridal {
  flex: 1;
}

.groom {
  flex: 1;
}

/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
} 